{% extends "base.html" %}

{% block title %}
{{recipe_data["recipe_title"]}}
{% endblock %}

{% block content %}
<section id="main" class="main">
    <div class="container">
        <h2 class="title">{{recipe_data["recipe_title"]}}</h2>
        {% for line in recipe_data["recipe_content"]%}
            <h3 class="content">{{line}}</h3>
        {% endfor %}
        <br>
        <h4 class="author">Автор: {{recipe_data["author_name"]}}</h4>
        <h4 class="date">Был опубликован: {{recipe_data["creation_date"]}}</h4>
    </div>
</section>
{% endblock %}